.main {

  background-color: var(--color-text);
  color: var(--color-background);
  width: 86%;
  position: absolute;
  z-index: 100;
  top: 44px;

  li {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      background-color: var(--color-main);
      color: var(--color-text);
    }
  }

}