.seasons{
  padding: 20px 0;
  display: flex;
  gap: 20px;
  button{
    background-color: var(--color-background);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }
}

.active{
  background-color:var(--color-text-opacity) !important;
  color: var(--color-background);
  pointer-events: none;
}