.main {
  @media (max-width: 992px) {
    margin-top: 50px;
  }

  margin-top: 100px;
}

.buttons {
  display: flex;
  gap: 16px;

  * {
    flex-shrink: 0;
  }

  button {
    padding: 17px 24px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 450px;
  h1,
  h2 {
    font-size: 48px;
    @media (max-width: 450px) {
    font-size: 21px;
    margin: 0;
    }
    font-weight: 600;
    transition: all .2s;
    line-height: 100%;

    &:hover {
      color: var(--color-main);
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.3;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.content {
  position: relative;
  margin: 0 0 53px 32px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.rated {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: black;
  background-color: white;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}