.themes--black {
  --color-text: #FFF;
  --color-text-opacity: rgba(255, 255, 255, 0.804);
  --color-background: #21201E;
  --color-main: #6100C2;
  --color-shadow: rgba(97, 0, 194, 0.40);
  --color-desc-gradient: linear-gradient(100deg, #FFF 12.94%, rgba(255, 255, 255, 0.00) 159.1%);
  --color-main-gradient: conic-gradient(from 13deg at 28.99% 107.28%, #6100C2 175.51443457603455deg, #191817 342.4887156486511deg);
  --color-err: rgb(136, 0, 0);
}