.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh !important;
  width: 100%;
  flex-direction: column;

  a {
    color: var(--color-main);
    transition: all .2s;

    &:hover {
      color: var(--color-text);

    }
  }
}