.main {
  height: 100%;

  video {
    height: 95%;
    width: 100%;

    background-color: var(--color-background);
    color: #fff;
    font-family: 'Arial', sans-serif;

    &::-webkit-media-controls {
      background-color: rgba(0, 0, 0, 0.338);
      border-radius: 5px;
    }

    &::-webkit-media-controls-progress-bar {
      background-color: rgb(255, 0, 0);
    }
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  width: 100%;
}

.progress {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.volume{
  
}