.buttonLike{
  background: var(--color-text);
  border: 0.593px solid #FFF;
  border-radius: 8.296px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  &:hover{
    scale: 0.95;
  }
}