.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.input {
  transition: all .2s;
  border-bottom: 1px solid transparent;

}

.error {
  border-bottom: 1px solid var(--color-err);

  &::placeholder {
    color: var(--color-err);
  }
}

.rootError {
  color: var(--color-err);
  text-align: center;
}